bin
target
.classpath
.settings
.project
rttest
mdtest
ittest
asterix_logs
ClusterControllerService
build
bin
build
bin/
*-coredump
*.pyc
*.iml
.idea/
git.properties
actual
build
exception
expected
teststore1
teststore2
dev1
dev2
dev3
dev4
derby.log
metastore_db
teststore
output
tmp
dist
*.iml
.idea/
*~